{% extends 'base.html' %}


{% block title %} | marbleSearch Result {% endblock %}
{% block content %}
{% load humanize %}
<div class="">
  <br>
  



<div class="w3-hide-small">
  <header>
    <br><br><b></b>
    <div class="mx-auto max-w-screen-xl   lg:px-12">
      <div class="sm:flex sm:items-center sm:justify-between">
        <div class="text-center sm:text-left">
          <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl"> Construction worker at <br>your doorstep</h1>
  
          <p class="mt-1.5 text-sm text-gray-500">Hire skilled and verified construction worker 🎉</p>
        </div>

      </div>
    </div>
  </header>
  <section class="bg-white dark:bg-gray-900">
    <div class="py-2 px-4 mx-auto max-w-screen-xl  lg:py-16 lg:px-12">
     
        
        <div class="grid grid-cols-4 gap-4">
          <div>
            <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md ">
              <div class="relative mx-4 mt-4 overflow-hidden rounded-xl  ">
                <img
                  src="https://i.postimg.cc/q7H5VqC7/our-services-39.png"
                  alt="ui/ux review check"
                />
           
              </div>
              <div class="p-6">
                <div class=" flex   justify-between">
                  <h5 class=" leading-snug tracking-normal text-blue-gray-900 antialiased">
                    Carpenter ( बढ़ई )
                  </h5>
        
                </div>
                <p class="py-2 block font-sans text-base font-light leading-relaxed text-gray-700 antialiased">
                  <span class="bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">5 +</span>
                  <span class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Hindi</span>

                </p>
                <a href="/marbles/4">
                  <button
          class="block w-full select-none rounded-lg bg-indigo-600 py-3.5 px-7 text-lg text-center align-middle font-sans text-sm text-white  transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          type="button"
          data-ripple-light="true"
        >
                    Hire Now
                  </button>
                  </a>
                </div>
              
              </div>
            
            </div>

          <!-- ... -->
       

          <div>            <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
            <div class="relative mx-4 mt-4 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white  ">
              <img
                src="https://i.postimg.cc/05LkMGTX/our-services-41.png"
                alt="ui/ux review check"
              />
           
            </div>
            <div class="p-6">
              <div class=" flex   justify-between">
                <h5 class="block font-sans text-xl font-medium leading-snug tracking-normal text-blue-gray-900 antialiased">
                  Plumber ( प्लंबर )
                </h5>
      
              </div>
              <p class="py-2 block font-sans text-base font-light leading-relaxed text-gray-700 antialiased">
                <span class="bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">5 +</span>
                <span class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Hindi</span>

              </p>
              <a href="/marbles/2">
                <button
          class="block w-full select-none rounded-lg bg-indigo-600 py-3.5 px-7 text-lg text-center align-middle font-sans text-sm text-white  transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          type="button"
          data-ripple-light="true"
        >
                  Hire Now
                </button>
                </a>
              </div>
            
            </div></div>
          <!-- ... -->
          <div>            <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
            <div class="relative mx-4 mt-4 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white shadow-lg shadow-blue-gray-500/40">
              <img
                src="https://i.postimg.cc/qqCpDg3G/our-services-42.png"
                alt="ui/ux review check"
              />
            
            </div>
            <div class="p-6">
              <div class=" flex   justify-between">
                <h5 class="block font-sans text-xl font-medium leading-snug tracking-normal text-blue-gray-900 antialiased">
                  Home Painter ( पेंटर )
                </h5>
      
              </div>
              <p class="py-2 block font-sans text-base font-light leading-relaxed text-gray-700 antialiased">
                <span class="bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">5 +</span>
                <span class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Hindi</span>

              </p>
              <a href="/marbles/1">
                <button
                class="block w-full select-none rounded-lg bg-indigo-600 py-3.5 px-7 text-lg text-center align-middle font-sans text-sm text-white  transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                type="button"
                data-ripple-light="true"
              >
                  Hire Now
                </button>
                </a>
              </div>
            
              
            </div></div>
<!--new-->
<div>            <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
  <div class="relative mx-4 mt-4 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white ">
    <img
      src="https://i.postimg.cc/bNDKnKx1/our-services-43.png"
      alt="ui/ux review check"
    />
   
  </div>
  <div class="p-6">
    <div class=" flex   justify-between">
      <h5 class="block font-sans text-xl font-medium leading-snug tracking-normal text-blue-gray-900 antialiased">
        Mason ( राज मिस्त्री )
      </h5>

    </div>
    <p class="py-2 block font-sans text-base font-light leading-relaxed text-gray-700 antialiased">
      <span class="bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">5 +</span>
      <span class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Hindi</span>

    </p>
    <a href="/marbles/5">
      <button
          class="block w-full select-none rounded-lg bg-indigo-600 py-3.5 px-7 text-lg text-center align-middle font-sans text-sm text-white  transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          type="button"
          data-ripple-light="true"
        >
        Hire Now
      </button>
      </a>
    </div>
  
    
  </div></div>


  <div>            <div class=" flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
    <div class="relative mx-4 mt-4 overflow-hidden rounded-xl  text-white">
      <img
        src="https://i.postimg.cc/hPgWxCGj/our-services-38.png"
        alt=""
      />
     
    </div>
    <div class="p-6">
      <div class=" flex   justify-between">
        <h5 class="block font-sans text-xl font-medium leading-snug tracking-normal text-blue-gray-900 antialiased">
          Labour 
        </h5>
  
      </div>
      <p class="py-2 block font-sans text-base font-light leading-relaxed text-gray-700 antialiased">
        <span class="bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">5 +</span>
        <span class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Hindi</span>
  
      </p>
      <a href="/marbles/6">
        <button
          class="block w-full select-none rounded-lg bg-indigo-600 py-3.5 px-7 text-lg text-center align-middle font-sans text-sm text-white  transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          type="button"
          data-ripple-light="true"
        >
          Hire Now
        </button>
        </a>
      </div>
    
      
    </div></div>


        </div>

<!--new create in nov-->
<!--text-->
<br>
<div class="bg-white">
  <div class="mx-auto max-w-7xl  sm:px-6lg:px-8">
    <div class="relative isolate overflow-hidden bg-teal-800 px-6 pt-8 shadow-2xl sm:rounded-3xl sm:px-11 md:pt-12 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0">

      <div class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-12 lg:text-left">
        <h2 class="text-3xl font-bold tracking-tight text-gray-50 sm:text-4xl">Company, Builder, organization, is looking for 
          workers<br> Please reach out to us.  <br><br> <span class="text-orange-400">7004197301  </span>    </p></h2>
        <p class="mt-6 text-lg leading-8 text-amber-100">          
        <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
      
        </div>
      </div>
      <div class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-8 lg:text-left">
        <img
        src="https://i.postimg.cc/7ZjXC8jd/Untitled-design-62-removebg-preview.png"
        alt="ui/ux review check"
      />
      
      </div>
    </div>
  </div>
</div>




















<!--small-->

<div class=" w3-hide-small ">
  <div class="w3-container w3-row w3-row-padding">

    
    <div class="py-1" style="width: 7.5rem;">
    <img class="card-img-top " src="https://i.postimg.cc/rw39F01M/how-it-works-3-1.png" alt="Card image cap">
    </div>
    <div class="w3-row w3-container">
      
       <div class="w3-col s4 w3-center">
         <p>    <div class="py-1" style="width: 25.0rem;">
           <img class="card-img-top " src="https://i.postimg.cc/66zbNmHz/tttt.png" alt="Card image cap">
         </div></p>
       </div>
       <div class="w3-col s4  w3-center">
         <p>   
            <div class="py-1" style="width: 25.0rem;">
           <img class="card-img-top " src="https://i.postimg.cc/Kj4PbJzs/hhhg.png" alt="Card image cap">
         </div></p>
       </div>
       <div class="w3-col s4  w3-center">
         <p>   
            <div class="py-1" style="width: 25.0rem;">
           <img class="card-img-top " src="https://i.postimg.cc/dtb2MRK4/nnnnsdadasdasdasd.png" alt="Card image cap">
         </div></p>
       </div>
     </div>
     </div>
</div>



        </div>
      </section>
      </div>
</div>


<!--small screen-->

<div class="w3-hide-large w3-container  w3-hide-medium">
   <br><br>
   <div class="mx-auto max-w-screen-xl   ">
    <div class="sm:flex  sm:justify-between">
      <div class=" sm:text-left">
        <h6 class="text-2xl font-bold text-gray-900 sm:text-3xl"> Construction worker at <br>your doorstep</h6>

        <p class="mt-1.5 text-sm text-gray-500">Hire skilled and verified construction worker 🎉</p>
      </div>

    </div>
  </div>
  <div class="grid grid-cols-2 gap-2 pt-4">
    <div>
      <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
        <div class="relative mx-4 mt-4 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white">
          <img
            src="https://i.postimg.cc/q7H5VqC7/our-services-39.png"
            alt="ui/ux review check"
          />
        </div>
        <div class="p-2">
          <div class=" flex   justify-between">
            <h5 class="block font-sans font-medium  text-l leading-snug tracking-normal text-blue-gray-900 antialiased">
              Carpenter
            </h5>
  
          </div>
          <p class="py-2 block font-sans text-base font-light leading-relaxed text-gray-700 antialiased">
            <span class="bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">5 +</span>
            <span class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Hindi</span>

          </p>
          <a href="/marbles/4">
            <button
              class="block w-full select-none  rounded-lg bg-orange-50 py-2.5 px-4 text-lg text-center align-middle font-sans text-sm text-black shadow-sm transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button"
              data-ripple-light="true"
            >
            Hire Now
            </button>
            </a>
          </div>
        
        </div>
      
      </div>

    <!-- ... -->
    <div>
      <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
        <div class="relative mx-4 mt-4 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white">   <img
            src="https://i.postimg.cc/QM5VC4tb/our-services-40.png"
            alt="ui/ux review check"
          />
         
        </div>
        <div class="p-2">
          <div class=" flex   justify-between">
            <h5 class="block font-sans text-l font-medium leading-snug tracking-normal text-blue-gray-900 antialiased">
              Electrician 
            </h5>
  
          </div>
          <p class="py-2 block font-sans text-base font-light leading-relaxed text-gray-700 antialiased">
            <span class="bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">5 +</span>
            <span class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Hindi</span>

          </p>
          <a href="/marbles/3">
            <button
              class="block w-full select-none text-black text-blod rounded-lg bg-orange-50 py-2.5 px-4 text-lg text-center align-middle font-sans text-sm text-black shadow-sm transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button"
              data-ripple-light="true"
            >
              Hire Now
            </button>
            </a>
          </div>
        
        </div>
    </div>

</div>



<div class="grid grid-cols-2 gap-2 py-2">
    <div>      
      <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
        <div class="relative mx-4 mt-4 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white">
          <img
          src="https://i.postimg.cc/05LkMGTX/our-services-41.png"
          alt="ui/ux review check"
        />
    
      </div>
      <div class="p-2">
        <span class=" flex   justify-between">
          <h5 class="block font-sans text-l font-medium leading-snug tracking-normal text-blue-gray-900 antialiased">
            Plumber
          </h5>

        </span>
        <p class="py-2 block font-sans text-base font-light leading-relaxed text-gray-700 antialiased">
          <span class="bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">5 +</span>
          <span class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Hindi</span>

        </p>
        <a href="/marbles/2">
          <button
            class="block w-full select-none text-black text-blod rounded-lg bg-orange-50 py-2.5 px-4 text-lg text-center align-middle font-sans text-sm text-black shadow-sm transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
            data-ripple-light="true"
          >
            Hire Now
          </button>
          </a>
        </div>
      
      </div></div>
    <!-- ... -->
    <div>            <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
      <div class="relative mx-4 mt-4 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white">
        <img
          src="https://i.postimg.cc/qqCpDg3G/our-services-42.png"
          alt="ui/ux review check"
        />
     
        </button>
      </div>
      <div class="p-2">
        <div class=" flex   justify-between">
          <h5 class="block font-sans text-l font-medium leading-snug tracking-normal text-blue-gray-900 antialiased">
            Home Painter
          </h5>

        </div>
        <p class="py-2 block font-sans text-base font-light leading-relaxed text-gray-700 antialiased">
          <span class="bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">5 +</span>
          <span class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Hindi</span>

        </p>
        <a href="/marbles/1">
          <button
            class="block w-full select-none text-black text-blod rounded-lg bg-orange-50 py-2.5 px-4 text-lg text-center align-middle font-sans text-sm text-black shadow-sm transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
            data-ripple-light="true"
          >
            Hire Now
          </button>
          </a>
        </div>
      
      </div></div>

      <div>            <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg">
        <div class="relative mx-4 mt-4 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white">
          <img
            src="https://i.postimg.cc/bNDKnKx1/our-services-43.png"
            alt="ui/ux review check"
          />
      
        </div>
        <div class="p-6">
          <div class=" flex   justify-between">
            <h5 class="block font-sans text-l font-medium leading-snug tracking-normal text-blue-gray-900 antialiased">
              Mason ( राज मिस्त्री )
            </h5>
      
          </div>
          <p class="py-2 block font-sans text-base font-light leading-relaxed text-gray-700 antialiased">
            <span class="bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">5 +</span>
            <span class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Hindi</span>
      
          </p>
          <a href="/marbles/5">
            <button
            class="block w-full select-none text-black text-blod rounded-lg bg-orange-50 py-2.5 px-4 text-lg text-center align-middle font-sans text-sm text-black shadow-sm transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
            data-ripple-light="true"
          >
            Hire Now
          </button>
            </a>
          </div>
        
          
        </div></div>
      
      
        <div>            <div class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-lg">
          <div class="relative mx-4 mt-4 overflow-hidden rounded-xl bg-blue-gray-500 bg-clip-border text-white">
            <img
              src="https://i.postimg.cc/hPgWxCGj/our-services-38.png"
              alt="ui/ux review check"
            />
            
          </div>
          <div class="p-6">
            <div class=" flex   justify-between">
              <h5 class="block font-sans text-l font-medium leading-snug tracking-normal text-blue-gray-900 antialiased">
                Labour
              </h5>
        
            </div>
            <p class="py-2 block font-sans text-base font-light leading-relaxed text-gray-700 antialiased">
              <span class="bg-indigo-100 text-indigo-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-900 dark:text-indigo-300">5 +</span>
              <span class="bg-red-100 text-red-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">Hindi</span>
        
            </p>
            <a href="/marbles/6">
              <button
              class="block w-full select-none text-black text-blod rounded-lg bg-orange-50 py-2.5 px-4 text-lg text-center align-middle font-sans text-sm text-black shadow-sm transition-all hover:shadow-lg hover:shadow-pink-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
              type="button"
              data-ripple-light="true"
            >
              Hire Now
            </button>
              </a>
            </div>
          
            
          </div></div>
        
      
  </div>


<!--new create in nov-->
<!--text-->
<div class="bg-white">
  <br>
  <div class="mx-auto max-w-7xl  sm:px-6lg:px-8 rounded-3xl">
    <div class="relative isolate overflow-hidden bg-teal-800 px-6 pt-8 shadow-2xl sm:rounded-3xl sm:px-11 md:pt-12 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0">

      <div class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-12 lg:text-left">
        <h2 class="text-3xl font-bold tracking-tight text-gray-50 sm:text-4xl">Company, Builder, organization, is looking for 
          workers<br> Please reach out to us.  <br><br> <span class="text-orange-400">7004197301  </span>    </p></h2>
        <p class="mt-6 text-lg leading-8 text-amber-100">          
        <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
      
        </div>
      </div>
      <div class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-8 lg:text-left">
        <img
        src="https://i.postimg.cc/7ZjXC8jd/Untitled-design-62-removebg-preview.png"
        alt="ui/ux review check"
      />
      
      </div>
    </div>
  </div>
</div>























<!--small-->
<div class="w3-hide-large w3-hide-medium ">
  <div class="py-8 swiffy-slider slider-item-ratio slider-item-ratio-16x9 slider-nav-animation slider-nav-animation-fadein slider-nav-autoplay slider-nav-autopause" id="swiffy-animation">
    <div class="py-1" style="width: 5.5rem;">
      <img class="card-img-top " src="https://i.postimg.cc/rw39F01M/how-it-works-3-1.png" alt="Card image cap">
      </div>
    <ul class="slider-container" id="container1">
        <li id="slide1" class=""><img src="https://i.postimg.cc/66zbNmHz/tttt.png" alt="..." loading="lazy"></li>
        <li id="slide2" class=""><img src="https://i.postimg.cc/Kj4PbJzs/hhhg.png" alt="..." loading="lazy"></li>
        <li id="slide3" class=""><img src="https://i.postimg.cc/dtb2MRK4/nnnnsdadasdasdasd.png" alt="..." loading="lazy"></li>
    </ul>
  
    <button type="button" class="slider-nav" aria-label="Go to previous"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go to next"></button>
  
    <div class="slider-indicators">
        <button aria-label="Go to slide" class=""></button>
        <button aria-label="Go to slide" class=""></button>
        <button aria-label="Go to slide" class=""></button>
        <button aria-label="Go to slide" class="active"></button>
        <button aria-label="Go to slide" class=""></button>
        <button aria-label="Go to slide" class=""></button>
    </div>
  </div>
  </div>
</div>





{% endblock %}