asgiref
certifi
chardet
cryptography==44.0.1
defusedxml
dj-database-url
django-allauth
django-ckeditor
django-js-asset
django-multiselectfield
gunicorn
idna
oauthlib
Pillow
psycopg2-binary
python3-openid
pytz
requests
requests-oauthlib
sqlparse
urllib3
whitenoise
certifi
chardet
defusedxml
dj-database-url
Django==4.2
django-allauth
django-ckeditor
django-js-asset
django-multiselectfield
django-prices==2.3.0
PyJWT==2.0.0
gunicorn
idna
oauthlib
Pillow
psycopg2-binary
python3-openid
pytz
requests
requests-oauthlib
sqlparse
urllib3
whitenoise
gunicorn
