{% extends 'base.html' %}

{% block title %} | Our cements Inventory {% endblock %}
{% block content %}

{% load humanize %}
<!-- Sub banner start -->
<!--new-->
<div class="w3-hide-small">
  <!--category-->
  <div class="w3-container " style="padding:30px 80px">
    <div class="w3-row-padding">
      <div class="w3-col m12">
        <div class=""style="padding:20px">
          <h4><b>Category</b></h4>
        
        </div>
  <div class="w3-row px-4 " >
    <div class="w3-col m2  w3-center">
      <a class="" href="#cement">
      <img src="https://iili.io/2mZSBhQ.png" alt="Cement" style="width:100%">
      </a>
    </div>
    <div class="w3-col m2  w3-center">
      <a class="" href="#brick">
      <img src="https://iili.io/2mZiwJI.png" alt="John" style="width:100%">
      </a>
    </div>
    <div class="w3-col m2  w3-center">
      <a class="" href="#tmt">
      <img src="https://iili.io/2mZsvkP.png" alt="John" style="width:100%">
      </a>

    </div>
    <div class="w3-col m2  w3-center">
      <a class="" href="#stone">
      <img src="https://iili.io/2mZLJ44.png" alt="John" style="width:100%">
      </a>
    </div>
    <div class="w3-col m2  w3-center">
      <a class="" href="#sand">
      <img src="https://iili.io/2mZmKyQ.png" alt="John" style="width:100%">
      </a>
    </div>
    <div class="w3-col m2  w3-center">
      <a class="" href="#paints">
      <img src="https://iili.io/2mtqxVf.png" alt="John" style="width:100%">
     </a>
    </div>
  </div>
  </div>
  </div>
  </div>
  <!--trending product-->
  <div class="w3-container " style="padding:5px 80px" >
    <div class="w3-row-padding">
      <div class="w3-col m12">
        <div class="px-4">
          <h4><b>Trending Product</b></h4>
        
        </div>
  <div class="w3-row px-4 " >
    <div class="w3-col m2  w3-center">
      <a class="" href="/tiles/1">
      <img src="https://iili.io/2mZSBhQ.png" alt="John" style="width:100%">
      </a>
    </div>
    <div class="w3-col m2  w3-center">
      <a class="" href="/tiles/1">
      <img src="https://iili.io/2mZiwJI.png" alt="John" style="width:100%">
      </a>
    </div>
   
  </div>
  </div>
  </div>
  </div>
  <!--cement-->
  <div class="w3-container " style="padding:5px 80px " id="cement">
    <div class="w3-row-padding">
      <div class="w3-col m12">
        <div class="px-4">
          <h4><b>Cement</b></h4>
        
        </div>
  <div class="w3-row px-4 " >
    <div class="w3-col m2  w3-center">
      <a class="" href="/tiles/1">
      <img src="https://iili.io/2mZSBhQ.png" alt="John" style="width:100%">
      </a>
    </div>

  </div>
  </div>
  </div>
  </div>
  <!--steel-->
  <div class="w3-container " style="padding:5px 80px" id="brick">
    <div class="w3-row-padding">
      <div class="w3-col m12">
        <div class="px-4">
          <h4><b>Bricks</b></h4>
        
        </div>
  <div class="w3-row px-4 " >
  
    <div class="w3-col m2  w3-center">
      <a class="" href="/tiles/1">
      <img src="https://iili.io/2mZiwJI.png" alt="John" style="width:100%">
      </a>
    </div>
   
  </div>
  </div>
  </div>
  </div>
  <!--Bricks-->
  <div class="w3-container " style="padding:5px 80px" id="tmt">
    <div class="w3-row-padding">
      <div class="w3-col m12">
        <div class="px-4">
          <h4><b>TMT Bar</b></h4>
        
        </div>
  <div class="w3-row px-4 " >
    
    <div class="w3-col m2  w3-center">
      <a class="" href="/tiles/1">
      <img src="https://iili.io/2mZsvkP.png" alt="John" style="width:100%">
      </a>

    </div>
  </div>
  </div>
  </div>
  </div>
  <!--stone-->
  <div class="w3-container " style="padding:5px 80px" id="stone">
    <div class="w3-row-padding">
      <div class="w3-col m12">
        <div class="px-4">
          <h4><b>Stone</b></h4>
        
        </div>
  <div class="w3-row px-4 " >

    <div class="w3-col m2  w3-center">
      <a class="" href="/tiles/1">
      <img src="https://iili.io/2mZLJ44.png" alt="John" style="width:100%">
      </a>
    </div>
   
  </div>
  </div>
  </div>
  </div>
  <!--PAINT-->
  <div class="w3-container " style="padding:5px 80px" id="sand">
    <div class="w3-row-padding">
      <div class="w3-col m12">
        <div class="px-4">
          <h4><b>Sand</b></h4>
        
        </div>
  <div class="w3-row" >
  
   
   
    <div class="w3-col m2  w3-center">
      <a class="" href="/tiles/1">
      <img src="https://iili.io/2mZmKyQ.png" alt="John" style="width:100%">
      </a>
    </div>
    
  </div>
  </div>
  </div>
  </div>
  <!--SAND-->
  <div class="w3-container " style="padding:5px 80px" id="paints">
    <div class="w3-row-padding">
      <div class="w3-col m12">
        <div class="px-4">
          <h4><b>Paints </b></h4>
        
        </div>
  
    <div class="w3-col m2  w3-center">
      <a class="" href="/tiles/1">
      <img src="https://iili.io/2mtqxVf.png" alt="John" style="width:100%">
     </a>
    </div>
  </div>
  </div>
  </div>
  </div>
  <!--NEW -->
</div>
<!--End-->


<!--smallscreen-->
<div class="w3-hide-large w3-hide-medium">
  <!--category-->
  <div class="w3-container " >
    <br><br>
    <div class="w3-row-padding">
      <!--category-->
      <div class="w3-col m12">
        <div class="px-1">
          <h6><b>Category</b></h6>
        
        </div>
        </div>
   <div class="w3-row px-4 " >
    <div class="w3-row">
      <div class="w3-col s4  w3-center">
        <a class="" href="#cements">
          <img src="https://iili.io/2mZSBhQ.png" alt="Cement" style="width:100%">
        </a>
      </div>
      <div class="w3-col s4 w3-dark-grey w3-center">
        <a class="" href="#bricks">
          <img src="https://iili.io/2mZiwJI.png" alt="John" style="width:100%">
          </a>
      </div>
      <div class="w3-col s4  w3-center">
        <a class="" href="#tmts">
          <img src="https://iili.io/2mZsvkP.png" alt="John" style="width:100%">
          </a>
      </div>
    </div>
    </div>
     
    <div class="w3-row px-4 py-1 " >
      <div class="w3-row">
        <div class="w3-col s4  w3-center">
          <a class="" href="#stoness">
            <img src="https://iili.io/2mZLJ44.png" alt="John" style="width:100%">
            </a>
        </div>
        <div class="w3-col s4  w3-center">
          <a class="" href="#sands">
            <img src="https://iili.io/2mZmKyQ.png" alt="John" style="width:100%">
            </a>
        </div>
        <div class="w3-col s4  w3-center">
          <a class="" href="#paintss">
            <img src="https://iili.io/2mtqxVf.png" alt="John" style="width:100%">
           </a>
        </div>
      </div>
      </div>
  </div>
  </div>

 
  <!--trending product-->
  <div class="w3-container ">
    <div class="w3-row-padding">
      <div class="w3-col m12">
        <div class="px-4">
          <h6><b>Trending Product</b></h6>
        
        </div>
  <div class="w3-row px-4 " >
    <div class="w3-col s4 w3-center">
      <a class="" href="/tiles/1">
      <img src="https://iili.io/2mZSBhQ.png" alt="John" style="width:100%">
      </a>
    </div>
    <div class="w3-col s4  w3-center">
      <a class="" href="/tiles/1">
      <img src="https://iili.io/2mZiwJI.png" alt="John" style="width:100%">
      </a>
    </div>
   
  </div>
  </div>
  </div>
  </div>
  <!--cement-->
  <div class="" id="cements">
  <div class="w3-container " id="cements">
    <div class="w3-row-padding">
      <div class="w3-col m12">
        <div class="px-4">
          <h6><b>Cement</b></h6>
        
        </div>
  <div class="w3-row px-4 " >
    <div class="w3-col s4 w3-center">
      <a class="" href="/tiles/1">
      <img src="https://iili.io/2mZSBhQ.png" alt="John" style="width:100%">
      </a>
    </div>

  </div>
  </div>
  </div>
  </div>
  </div>
  <!--steel-->
  <div class="w3-container "  id="bricks">
    <div class="w3-row-padding">
      <div class="w3-col m12">
        <div class="px-4">
          <h6><b>Bricks</b></h6>
        
        </div>
  <div class="w3-row px-4 " >
  
    <div class="w3-col s4 w3-center">
      <a class="" href="/tiles/1">
      <img src="https://iili.io/2mZiwJI.png" alt="John" style="width:100%">
      </a>
    </div>
   
  </div>
  </div>
  </div>
  </div>
  <!--Bricks-->
  <div class="w3-container "  id="tmts">
    <div class="w3-row-padding">
      <div class="w3-col m12">
        <div class="px-4">
          <h6><b>TMT Bar</b></h6>
        
        </div>
  <div class="w3-row px-4 " >
    
    <div class="w3-col s4 w3-center">
      <a class="" href="/tiles/1">
      <img src="https://iili.io/2mZsvkP.png" alt="John" style="width:100%">
      </a>

    </div>
  </div>
  </div>
  </div>
  </div>
  <!--stone-->
  <div class="w3-container "  id="stones">
    <div class="w3-row-padding">
      <div class="w3-col m12">
        <div class="px-4">
          <h6><b>Stone</b></h6>
        
        </div>
  <div class="w3-row px-4 " >
    <div class="w3-col s4 w3-center">
      <a class="" href="/tiles/1">
      <img src="https://iili.io/2mZLJ44.png" alt="John" style="width:100%">
      </a>
    </div>
   
  </div>
  </div>
  </div>
  </div>
  <!--PAINT-->
  <div class="w3-container "  id="sands">
    <div class="w3-row-padding">
      <div class="w3-col m12">
        <div class="px-4">
          <h6><b>Sand</b></h6>
        
        </div>
  <div class="w3-row px-4" >
    <div class="w3-col s4 w3-center">
      <a class="" href="/tiles/1">
      <img src="https://iili.io/2mZmKyQ.png" alt="John" style="width:100%">
      </a>
    </div>
    
  </div>
  </div>
  </div>
  </div>
  <!--SAND-->
  <div class="" id="paintss">
  <div class="w3-container "  >
    <div class="w3-row-padding">
      <div class="w3-col m12">
        <div class="px-4">
          <h6><b>Paints </b></h6>
        
        </div>
  
        <div class="w3-row px-4" >
          <div class="w3-col s4 w3-center">
      <a class="" href="/tiles/1">
      <img src="https://iili.io/2mtqxVf.png" alt="John" style="width:100%">
     </a>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
</div>


<br><br><br><br>
         

<!-- Featured car end -->

{% endblock %}
